:root {
  --columns-row: 2;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--columns-row), 1fr);
  grid-template-rows: repeat(var(--columns-row), 1fr);
  width: 700px;
  height: 700px;
  border: 1px solid #000;
}

#container>div {
  border: 0px;
}